/* DESKTOP */
@media screen and (min-width: 1023px) {

	.lede-title {
		font-size: 4rem;
	}

	.sidebar_clothing_annotation {
		display: block;
		float: right;
		width: 150px;
		font: 0.75em/1.2em $NHaas;

		margin-right: -175px;
		margin-top: 86px;
	}

}
