/* TABLET */
@media screen and (min-width: 560px) {

	.clothing_item { 
		&:nth-of-type(2) {

			.wrapper_images {
				// @include flex-direction(row);
			}

			.box_clothes {
				width: 30%;
				display: inline-block;
				vertical-align: top;
			}
		}

		&:nth-of-type(4), &:nth-of-type(6) {
			.box_image {
				width: 24%;
			}
		}

		&:nth-of-type(5) {

			.box_image {
				width: 32%;
			}
		}
		
		&:nth-of-type(7) {

			.wrapper_images > .header_bar h3:nth-of-type(2) {
			    left: 46.5%;
		    }
		}
	}

	.lede {
		max-height: 600px;
		margin-bottom: 1.5rem;
	}

	.lede-content {
	    padding: 1% 2% 2%;
	}

	.lede-title {
		font-size: 3.25rem;
	}

	.dek {
		font-size: 1.1em;
		padding-bottom: 1em;
	}

	.wrapper_images {
		// background-color: transparent;
		padding: 0;
		width: 90%;
		// @include clearfix;

		// @include align-items(stretch);
		// @include display(flex);
		// @include flex-direction(row);
		// @include justify-content(flex-start);

		@include flex-direction(column);
	}

	.box_text, .box_clothes {

	}

	.box_text{
		margin-right: 1em;
	}

	.box_clothes {
		padding: 0 1em;
	}
}

@media screen and (min-width: 768px) {
	.clothing_item { 

		&:nth-of-type(2) {
			.box_clothes {
				width: initial;
			}
		}
	}
}