/* TABLET */
@media screen and (min-width: 560px) {
	.lede {
		max-height: 600px;
		margin-bottom: 1.5rem;
	}

	.lede-content {
	    padding: 1% 2% 2%;
	}

	.lede-title {
		font-size: 3.25rem;
	}

	.dek {
		font-size: 1.1em;
		padding-bottom: 1em;
	}

	.clothing_item:nth-of-type(4) {

	}

	.wrapper_images {
		// background-color: transparent;
		padding: 0;
		width: 90%;
		// @include clearfix;

		// @include align-items(stretch);
		// @include display(flex);
		// @include flex-direction(row);
		// @include justify-content(flex-start);

		@include flex-direction(column);
	}

	.box_text, .box_clothes {
		// float: left;
		// @include flex(1);

		// section:nth-of-type(6) & {
		// 	width: 24%;
		// }

		// section:nth-of-type(10) & {
		// 	width: 32%;
		// }
	}

	.box_text{
		// width: 15%;
		margin-right: 1em;
	}

	.box_clothes {
		padding: 0 1em;
		// width: calc(85%/3);
		// border-left: 2px dashed $black;

		.box_text + & {
			border-left: none;
		}

		header {

			&::after {
				// width: 120%;
			}
		}
	}
}