

/*------------  Article Layout ------------*/
#main {

}

section {
	max-width: 800px;
	width: 90%;
	margin: 0 auto;
}

.lede {
	position: relative;
	overflow: hidden;
	margin-bottom: 2em;
	max-height: 445px;
	height: 100vh;

	img {
		width: 100%;
	}
}

.lede-content {
	// position: absolute;
	z-index: 1;
	top: 10%;
	width: 90%;
	max-width: 800px;
	margin: -300px auto 0;
}


.lede-title, .credits {
	font-family: $NHaas;
}

.lede-title {
	font-size: 2.5rem;
}

.dek {
	text-align: left;
	padding: 0;
	margin: 0 0 1rem;

	color: $white;
	border-bottom: 2px solid $white;
}

.credits {
	color: $white;
	font-size: 0.7em;
	line-height: initial;
}


.dropcap {
	// initial-letter: 3;
	font-family: $NHaas;
	font-size: 5.75em;
	line-height: 0.9em;
	float: left;
	margin-right: 0.04em;
}