

/*------------  Article Layout ------------*/
#main {

}

section {
	// max-width: 800px;
	// width: 90%;
	margin: 0 auto;
	position: relative;

	@include clearfix;

	&:nth-of-type(2n) {
		background-color: pink;
	}
}

.section_head {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
}

.lede {
	position: relative;
	overflow: hidden;
	margin-bottom: 2em;
	max-height: 445px;
	height: 100vh;

	img {
		width: 100%;
	}
}

.lede-content {
	position: absolute;
	z-index: 2;
	bottom: 10%;
	left: 3%;
	padding: 5% 2%;
	width: 90%;
	max-width: 800px;
	// margin: -300px auto 0;
	background-color: rgba(0, 0, 0, 0.3);
}


.lede-title, .credits {
	font-family: $NHaas;
}

.lede-title {
	font-size: 2.5rem;
}

.dek {
	text-align: left;
	padding: 0;
	margin: 0 0 1rem;

	color: $white;
	border-bottom: 2px solid $white;
}

.credits {
	color: $white;
	font-size: 0.7em;
	line-height: initial;
}


.dropcap {
	// initial-letter: 3;
	font: 5.75em/0.9em $NHaas;
	float: left;
	margin-right: 0.04em;
}


.image_full-width {
	width: 100%;
	margin: 0 auto 1em;
}



.wrapper_images {
	max-width: 1250px;
	font-family: $NHaas;
	text-align: center;
	background-color: rgba(0,0,0, 0.05);
	// width: 90%;
	padding: 1% 5% 5%;
	margin: 0 auto 2em;
}

.box_text {
	@include thick-border;
	padding: 1em 0.5em 0;
	margin: 1em 0 2em;

	h3 {
		font-size: 1.5rem;
		display: inline-block;
	}

	p {
		font-size: 1rem;
		font-family: $tiempos;
	}
}

.box_clothes {
	@include clearfix;
	margin-bottom: 2em;

	h3 {
		font-size: 1rem;
		@include NHaas-bold;
		@include thick-border;
		padding: 0.1em 0.5em;
		position: relative;
		display: inline-block;
		background-color: $white;
	}

	p {
		margin: 0.5em 0;
		font-size: 0.9rem;
		line-height: 1.1rem;
	}

	&:last-of-type {
		margin-bottom: 0;
	}
}

.connected header {
		position: relative;
		z-index: 100;
		@include clearfix;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 32%;
			height: 4px;
			width: 100%;
			background-color: $black;
			z-index: -1;
		}
	}

.box_image {
	width: 48%;
	display: inline-block;
	vertical-align: top;

	section:nth-of-type(6) & {
		width: 24%;
	}

	section:nth-of-type(10) & {
		width: 32%;
	}
}

.box_image_left {
	// float: left;
}

.box_image_right {
	// float: right;
}

.label {
	font-size: 0.9rem;
	@include NHaas-bold;
	@include thick-border;
	padding: 0.2em 0.5em;
	display: inline-block;
}

/*------------  SIDEBAR ------------*/

.sidebar_clothing_annotation {
	// font-size: 0.8em;
	// line-height: 1.5em;

	// color: $medium-gray;

	display: none;


	em {
		font-family: $NHaas;
	}

	strong {
		font-family: $NHaas-medium;
	}
}
